.viewFlightComponent{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    padding: 1.5em;
    
}

ul{
    flex-grow: 1;
    max-width: 33%;
    background-color: cornflowerblue;
    list-style: none;
    margin: 1.5em;
    padding: 1.5em;
    border-style: solid;
    border-radius: .5em;
}