.MyForm {
    border: 5px solid black;
    border-radius: 10px;
    background-color: cornflowerblue;
    width: 350px;
    margin: auto;
    padding: 10px;
}

div{
    justify-content: center;
    align-items: center;
}