.manageFlightComponent{
    background-color: white;
    color: inherit;
    margin: 1.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    text-align: center;
}

tr{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
}

td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0 2em;
}

th{
    padding: 0 2em;
}